*{
    box-sizing: border-box;
}

body{
    font-family: Courier, monospace;
    margin: 0;
    background: #e7faff;
    color: #fff;
}

header{
    padding: 24px 20px;
    background: #003949;
}

header h1{
    margin: 0;
    font-size: 30px;
}

main{
    padding: 20px;
}


.grid-5x3{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 260px;
    gap: 15px;
}

.card{
    border-radius:10px;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    box-shadow:0 5px 5px rgba(0,0,0,0.1);
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.panel{
    position: fixed; 
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    max-width: 700px;
    background: #e7faff;
    box-shadow: -10px 0 20px rgba(0,0,0,0.2);
    transform: translateX(100%);
    transition: transform 0.35s ease;
    z-index: 80;
    padding: 20px;
    overflow: auto;
}

.panel.open{
    transform: translateX(0);
}

.panel.hidden{
    display: block;
}

.icon-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: 0;
    padding: 6px;
    cursor: pointer;
}
.icon-btn img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.panel-top{
    display: flex;
    gap: 10px; align-items: center;
}

.profile-circle{
    margin-top: 40px;
    width: 120px;
    height: 120px;
    aspect-ratio: 1 / 1; 
    border-radius: 100%;
    object-fit: cover;
}

.artist-info h2{
    margin: 50px 0 10px 0;
    font-size: 30px;
    color:#003949;
}

.artist-info p{
    margin: 0;
    color: #003949;
}

h3{
    margin-top: 50px;
    font-size: 25px;
    color: #003949;
}

.grid-3x3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}



.fullscreen{
    position: fixed;
    inset: 0;
    background:rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 120;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    color: #003949;
}

.fullscreen.open{
    opacity: 1;
    pointer-events: auto;
}

.fullscreen .work-content{
    width: 100%;
    max-width: 1000px;
    background: #e7faff;
    padding: 15px;
    border-radius:10px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.fullscreen img {
    width: 100%;
    max-width: 700px;   
    max-height: 80vh;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

#work-close.icon-btn,
#work-close {
    top: 20px;
    right: 20px;
}

#work-close img {
    width: 30px;  
    height: 30px;
    object-fit: contain;
}

.work-meta{
    flex: 1;
}

.work-meta h2{
    margin: 0 0 8px 0;
}


.nav-btn{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: 0;
    padding: 5px;
    cursor: pointer;
    z-index: 130;
}

.nav-btn.left{
    left: 20px;
}

.nav-btn.right{
    right: 20px;
}

.nav-btn img{
    width: 40px;
    height: 40px;
}


@media (max-width:900px){
    .grid-5x3{
        grid-template-columns: repeat(3, 1fr);
    }
    .panel{
        width: 85%;
    }

    .fullscreen .work-content{
        flex-direction: column;
    }

    .fullscreen img{
        max-width: 100%;
    }
}
